body{
margin:0;
font-family:Arial;
background:#f4f4f4;
max-width:420px;
margin:auto;
}

.container{
padding:30px;
text-align:center;
}

input{
width:90%;
padding:12px;
margin:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
width:95%;
padding:12px;
background:#2c7be5;
color:white;
border:none;
border-radius:8px;
font-size:16px;
}

.menu{

position:fixed;
bottom:0;
width:100%;
max-width:420px;

background:white;

display:flex;
justify-content:space-around;

padding:10px;

border-top:1px solid #ccc;
}

.menu a{

text-decoration:none;
color:#333;
font-size:14px;

}

.card{

background:white;

padding:20px;

margin:15px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}
