:root { --primaria: #F39200; --fundo: #0E1117; --card: #161B22; --texto: #C9D1D9; --borda: #30363D; }
body { font-family: sans-serif; background: var(--fundo); color: var(--texto); margin: 0; padding-bottom: 70px; }

.login-container { height: 100vh; display: flex; align-items: center; justify-content: center; }
.login-card, .card { background: var(--card); padding: 25px; border-radius: 10px; border: 1px solid var(--borda); margin: 10px; }

.header { background: var(--card); padding: 15px; border-bottom: 1px solid var(--borda); display: flex; justify-content: space-between; }
.container { padding: 15px; }
.content-section { display: none; }

.btn { background: var(--primaria); color: white; border: none; padding: 12px; border-radius: 5px; width: 100%; cursor: pointer; font-weight: bold; }
input, select { background: #0D1117; color: white; border: 1px solid var(--borda); padding: 12px; width: 100%; box-sizing: border-box; margin-bottom: 10px; border-radius: 5px; }

.menu { position: fixed; bottom: 0; width: 100%; background: var(--card); border-top: 1px solid var(--borda); display: flex; justify-content: space-around; padding: 15px 0; }
.menu a { color: #8B949E; text-decoration: none; font-size: 0.9rem; }
.menu a.active { color: var(--primaria); font-weight: bold; }

.map-frame { width: 100%; height: 400px; border: 1px solid var(--primaria); border-radius: 10px; }
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid var(--borda);
}

.photo-card {
    background: var(--card);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
/* Estilos para Imagens e Relatórios */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.logo-header {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.btn-relatorio {
    background: #30363D;
    color: var(--primaria);
    border: 1px solid var(--primaria);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
